
#mygrid {
	-fx-background-color: #437dd4;
}

#contentArea {
	-fx-background-color: #437dd4;
}

.label {
    -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
    -fx-text-fill: white;
}


.text-field {
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-background-color: #437dd4, #052f6d, #0f4da8;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";    
}

.text-field:focused {
    -fx-background-color: #0f4da8, #052f6d, #0f4da8;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: transparent;
    -fx-font-size: 12px;
    -fx-font-family: "Verdana";
}

.text-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}


.button {
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.button:hover {
    -fx-color: -fx-hover-base;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}
 
.button:default {
    -fx-base: -fx-accent;
}

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 